<h1>Portfolio</h1>
<table mat-table [dataSource]="stockInformationArray" class="mat-elevation-z8">
  
  <ng-container matColumnDef="StockSymbol">
      <th mat-header-cell *matHeaderCellDef> Stock symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <ng-container matColumnDef="StockName">
      <th mat-header-cell *matHeaderCellDef> Stock Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="StockQuantity">
      <th mat-header-cell *matHeaderCellDef> Stock Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.stockOwned}} </td>
    </ng-container>

    <ng-container matColumnDef="StockQuantityAvgBuyingPrice">
      <th mat-header-cell *matHeaderCellDef> Avg Buying Price </th>
      <td mat-cell *matCellDef="let element"> {{element.avgBuyingPrice | number : '1.2-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="SellThisStock">
      <th mat-header-cell *matHeaderCellDef> Sell This Stock </th>
      <td mat-cell *matCellDef="let element">  <button (click)="selectStockToSell(element)"> Sell ! ! !</button> </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="['StockSymbol', 'StockName', 'StockQuantity', 'StockQuantityAvgBuyingPrice', 'SellThisStock']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['StockSymbol', 'StockName', 'StockQuantity', 'StockQuantityAvgBuyingPrice', 'SellThisStock'];"></tr>
  </table>

  <h2>Total cost/profit is: {{sumOfHistory | currency }}</h2>
