<table mat-table [dataSource]="stockInfoArray" class="mat-elevation-z8">
  
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Stock Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="OpanPrice">
          <th mat-header-cell *matHeaderCellDef> Opan Price </th>
          <td mat-cell *matCellDef="let element"> {{element.opanPrice | currency}} </td>
        </ng-container>

        <ng-container matColumnDef="CurrentPrice">
            <th mat-header-cell *matHeaderCellDef> Current Price </th>
            <td mat-cell *matCellDef="let element"> {{element.currentPrice | currency}} </td>
          </ng-container>

          <ng-container matColumnDef="Change">
              <th mat-header-cell *matHeaderCellDef> Change% </th>
              <td mat-cell *matCellDef="let element">  <img [src]="((element.currentPrice / element.opanPrice)==1) ? 'https://www.macupdate.com/images/icons256/37872.png' : '' ">
                <img [src]="((element.currentPrice / element.opanPrice)>1) ? 'https://www.iconexperience.com/_img/v_collection_png/256x256/shadow/arrow2_up_green.png' : '' ">
                <img [src]="((element.currentPrice / element.opanPrice)<1) ? 'https://static8.depositphotos.com/1478919/978/v/950/depositphotos_9789313-stock-illustration-groundbreaking-arrow-goes-down-red.jpg' : '' ">
                <div style="align-content: center">
                  {{(element.currentPrice / element.opanPrice)-1 | percent :'1.2'}}
                </div>
               </td>
            </ng-container>

            <ng-container matColumnDef="Buy">
                <th mat-header-cell *matHeaderCellDef> Buy Stock </th>
                <td mat-cell *matCellDef="let element"> 
                    <button (click)="selectStockToBuy(element)">Buy</button>
                   </td>
              </ng-container>
<!-- 
              <ng-container matColumnDef="Sell">
                  <th mat-header-cell *matHeaderCellDef> Sell Stock </th>
                  <td mat-cell *matCellDef="let element">
                    <button (click)="selectStockToSell(element)">Sell</button>
                   </td>
                </ng-container>
   -->
                <tr mat-header-row *matHeaderRowDef="['Name', 'OpanPrice', 'CurrentPrice', 'Change', 'Buy']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['Name', 'OpanPrice', 'CurrentPrice', 'Change', 'Buy'];"></tr>
              </table>