<h1>
  selling: {{(selectedStockFromServerObservite | async)?.name}}
</h1>
  
  <form [formGroup]="form" (ngSubmit)="save()">
    <div>
      <label for="stockName">Stock name: {{(selectedStockFromServerObservite | async)?.name}} ({{(selectedStockFromServerObservite
        | async)?.symbol}}) </label>
    </div>
    <div>
      <label for="buyPrice">Stock price: {{(selectedStockFromServerObservite | async)?.currentPrice | currency}}</label>
    </div>
    <div>
        <label for="HowMuchYouHaveToSell">How much you have to sell: {{selectedStockQuantityFromServerObservite | async}}</label>
      </div>
      
    <div>
        <mat-form-field class="example-full-width">
      <input type="text" matInput placeholder="how much to sell" formControlName="howMuchToSell">
    </mat-form-field>

    </div>
    <p>
    <button mat-button type="submit" value="sell stock">Sell</button>

    </p>
  </form>